* {
  box-sizing: border-box;
}
/* ................................................................. */
.App {
  background: radial-gradient(circle, #000 0%, #00131a 70%, #000 100%);
  overflow: hidden;
  /* overflow-y: scroll; */
  position: relative;
  height: 100vh;
}

.div-title {
  display: flex;
  justify-content: center;
  /* align-items: center; Center items vertically */
  z-index: 1;
}

.rick-morty-title {
  font-size: 48px;
  color: #00ff00;
  font-family: "Comic Sans MS", "Chalkboard", cursive;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00;
  animation: glow 1.5s infinite alternate, wave 3s infinite,
    flicker 0.1s infinite;
  transition: text-shadow 0.3s ease-in-out;
}

/* Cosmic star effects */
.App::before,
.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  pointer-events: none;
}

.App::before {
  background: radial-gradient(circle, #ffffff 2px, transparent 2px) repeat;
  background-size: 50px 50px;
  animation: starsMove 100s linear infinite;
  opacity: 0.8;
}

.App::after {
  background: radial-gradient(circle, #ffffff 1px, transparent 1px) repeat;
  background-size: 100px 100px;
  animation: starsMoveReverse 120s linear infinite;
  opacity: 0.5;
}

/* Star movement animations */
@keyframes starsMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}

@keyframes starsMoveReverse {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1000px);
  }
}

/* Glow animation */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  100% {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00,
      0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00;
  }
}

/* Wave animation */
@keyframes wave {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

/* Flicker animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
    color: #00ff00;
  }
  20%,
  24%,
  55% {
    opacity: 0.8;
    color: #ffdd00;
  }
}
/* ................................................................. */
.div-charatersContainer {
  /* margin: 12px auto; */
  margin: 1% 4% 1% 4%;
  border: solid 3px #30d5c8;
  width: 70%;
  display: grid;
  gap: 26px;
  padding: 20px;
  height: 73vh;
  background: linear-gradient(145deg, #1e1e1e, #00131a);
  box-shadow: 0 0 20px #30d5c8, 0 0 40px #30d5c8;
  border-radius: 20px;
  overflow-y: auto;
}

.div-column-2 {
  overflow-y: auto;
  display: flow;
  flex-wrap: wrap;
  gap: 26px;
  padding: 20px;
}
/* ................................................................. */
.searchBar-innerCont {
  margin: 0px auto;
  max-width: 500px;
}
