/* Universal box-sizing reset */
* {
  box-sizing: border-box;
}

/* Container for the entire card grid */
.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

/* Outer card container */
.card-container {
  perspective: 1000px;
  position: relative;
}

/* Inner card wrapper to manage the flip */
.card-inner {
  position: relative;
  width: 100%;
  max-width: 260px;
  height: 350px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* Flip the card on hover */
.card-container:hover .card-inner {
  transform: rotateY(180deg);
}

/* Front and back faces of the card */
.card-front,
.card-back {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  /* height: 101%; */
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

/* Card front styles */
.card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Card back styles */
.card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #333;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

/* Image styles */
.div-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* .logo img {
  width: 100%;
  height: 250px;
  object-fit: cover;
} */

/* Character name on the front */
.div-name {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
}

.div-status-green {
  width: 40%;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #42d631;
}
.div-status-red {
  width: 40%;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #ff0000;
}
.div-status-unKnown {
  width: 40%;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #8caca2;
}

.div-status {
  font-weight: bold;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/* Optional hover effects */
.card-container:hover .card-front .div-image img {
  transform: scale(1.1);
}
