* {
  box-sizing: border-box;
}

.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  justify-items: center;
  padding: 20px;
}

/* ................................................................ */
.mainContainer {
  position: relative;
  width: 230px;
  height: 360px;
}
.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  will-change: transform;
}
.theCard:hover {
  transform: rotateY(180deg);
}

.theFront {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #333;
  background-color: #1e1e1e;
  color: #ffffff;
}

.theBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #1e1e1e, #333);
  color: #00ff00;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.backOfCard {
  width: 100%;
}
.backOfCardInnerCon {
  margin-bottom: 4px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: background 0.3s ease;
}
.backOfCardInnerCon:hover {
  background: #30d5c735;
}

.Title {
  font-size: 16px;
  font-weight: bold;
  color: #30d5c8;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
  letter-spacing: 1px;
}

.description {
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.theFront,
.theBack {
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* //....................................................................// */
/* Image styles */
.div-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
/* //....................................................................// */
.div-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.div-msg {
  color: #ffffff;
  margin-top: 2px;
  font-size: 24px;
  font-weight: 700;
}

.div-logo img {
  width: 35%;
  object-fit: cover;
}

.div-name {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
  height: 60px;
}

.div-status-green {
  width: 40%;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #42d631;
  margin: 7px;
}
.div-status-red {
  width: 40%;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #ff0000;
  margin: 7px;
}
.div-status-unKnown {
  width: 40%;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #8caca2;
  margin: 7px;
}

.div-status {
  font-weight: bold;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
