.filter-mainContainer {
  padding: 30px;
}

.accordionDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 1;
}

.unSelect-All {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1e1e1e; /* Dark background */
  color: #00ff00; /* Neon green text */
  border: 2px solid #00ff00; /* Neon green border */
  border-radius: 8px; /* Slightly rounded corners */
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); /* Initial glow */
  transition: all 0.3s ease; /* Smooth hover animation */
}

.unSelect-All:hover {
  background-color: #333; /* Darker background on hover */
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8); /* Intense glow on hover */
  transform: scale(1.05); /* Slightly increase the size on hover */
}

.unSelect-All:active {
  transform: scale(0.95); /* Shrinks the button when clicked */
}

.unSelect-All-text {
  font-weight: bold;
  letter-spacing: 1px; /* Add some letter spacing for a futuristic feel */
}
